<div class="wrapper fadeInDown">
  <div id="formContent">
  
    <h2 class="inactive underlineHover"><a href="login"> Sign In</a> 
    <h2 class="active"> Sign Up </h2></h2>
    

    <div class="fadeIn first">
      <img src="/img/smallerlogo.png" id="icon" alt="User Icon" />
    </div>
    
  
    <form action="/auth/signup" method="POST">
      <input id="new-email" type="email" name="email" class="fadeIn second" placeholder="New Email/Username">
      <input id="new-password" type="password" name="password" class="fadeIn third" placeholder="New Password">
      <input type="submit" class="fadeIn fourth" value="Create Account">
    </form>

    <div id="formFooter">
      <a class="underlineHover" href="mailto:edreeshuss@gmail.com">Email us for help</a>
    </div>

  </div>
</div>