<div class="header_search">
    <form action="./search" method="GET">
    <input type="text" name="search" aria-label="Search" placeholder="search for news" id="search" required>
    <input type="submit" class="btnsearch" value="search">
    </form>
</div>