    
        <img src="/img/logoreflection.png" class="logo">
<div class="enter"><h1> <a href="news">Enter Site</a></h1></div>
<style>body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* background-color: #f6f6f6; */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}</style>